* {
  font-family: "Microsoft JhengHei", '微軟正黑體', "Heiti TC", "黑體-繁", Arial, Helvetica, sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  position: relative;
}

h1 {
  font-size: 1.8em;
  line-height: 100px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 1.6em;
  line-height: 70px;
  letter-spacing: 6px;
  text-indent: 6px;
  text-align: center;
  color: white;
}

h3 {
  font-size: 1.4em;
  line-height: 60px;
  text-align: center;
  color: white;
}

p {
  font-size: 1.1em;
  line-height: 35px;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

button {
  font-size: 1.1em;
}

label {
  cursor: pointer;
  font-size: 1.1em;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

#section_end {
  background-color: #000;
}

#section2, #section8, #section11, #section15, #section20, #section_end {
  background-color: #101c22;
}

#section3, #section4, #section5, #section6, #section7, #section9, #section10, #section12, #section13, #section14, #section16, #section17, #section18, #section19, #section21 {
  background-color: #0a222d;
}

#section_footer {
  background-color: #091013;
}

#section_footer ul {
  width: 50%;
  padding: 20px 10px;
  margin: auto;
  text-align: right;
}

@media screen and (max-width:768px) {
  #section_footer ul {
    width: 90%;
    text-align: center;
  }
  #section_footer figure {
    margin: auto;
  }
}

.mask {
  background-color: #000000a8;
  position: absolute;
  display: none;
  z-index: 90;
  height: 100%;
  width: 100%;
}

#social {
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 90px;
  z-index: 10000;
  position: fixed;
  background-color: #3b5998;
  border-radius: 50px;
  border: 1px solid #3b5998;
  box-shadow: 4px 5px 4px #070c0e;
  cursor: pointer;
  display: none;
}

#social i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  color: white;
}

#gotop {
  width: 50px;
  height: 50px;
  background: #272727;
  right: 30px;
  bottom: 30px;
  z-index: 10000;
  position: fixed;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  box-shadow: 4px 5px 4px #070c0e;
  color: white;
  cursor: pointer;
  display: none;
  /* 文字水平置中 */
}

/* header */

#section1 {
  background-image: url(../img/bg_main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0f1e25;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  #section1 {
    background-position: bottom;
    background-image: url(../img/bg_main_tablet.png);
    background-size: cover;
    background-position-y: 18px;
    height: auto;
  }
  #section1 p {
    padding-bottom: 100%;
  }
}

@media screen and (max-width: 450px) {
  #section1 {
    background-position: bottom;
    background-image: url(../img/bg_main_mb.png);
    background-size: cover;
  }
}

#section1 p {
  padding-top: 2%;
}

#section1 h1, #section1 p {
  width: 85%;
  margin: auto;
}

/* main */

.font_h2 {
  font-size: 1.3em;
}

@media screen and (max-width:450px) {
  .font_h2 {
    font-size: 1.1em;
  }
}

.section {
  vertical-align: middle;
}

.section h2 {
  border: 2px solid white;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto 20px;
}

@media screen and (max-width:680px) {
  .section h2 {
    width: 60%;
  }
}

@media screen and (max-width:480px) {
  .section h2 {
    width: 90%;
  }
}

#section_end {
  background-image: url(../img/bg_footer.png);
  width: 100%;
  height: 100vh;
  background-position-x: 48%;
  background-size: cover;
  color: white;
}

#section_end div {
  width: 60%;
}

@media screen and (max-width:768px) {
  #section_end div {
    width: 80%;
  }
}

.wire_layout {
  padding: 3% 0;
  text-align: center;
}

.inner_layout {
  width: 80%;
  margin: auto;
}

figure {
  max-width: 100% !important;
}

.flex_layout {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
}

.flex_layout .person img {
  width: 65%;
  border-radius: 200px;
  padding: 5%;
}

.flex_layout .person p {
  padding: 3%;
}

.flex_layout .person a {
  color: brown;
  text-decoration: none;
}

/* 人物訪談 */

.ask_block {
  width: 50%;
  position: relative;
}

.ask_block a {
  background-size: cover;
  display: block;
  width: 100%;
  border: 3px solid #0f1c22;
  background-position: center;
  cursor: pointer;
  color: white;
  box-shadow: 6px 8px 10px black;
}

.ask_block a p {
  color: white;
}

.ask_block #ask1 {
  background-image: url(../img/asker1.jpg);
  background-position-x: 70%;
  height: 600px;
}

.ask_block #ask2 {
  background-image: url(../img/asker2.jpg);
  height: 300px;
}

.ask_block #ask3 {
  background-image: url(../img/asker3.jpg);
  height: 300px;
}

#ask1_hover {
  display: none;
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0;
  top: 0;
  background-color: #000000b5;
  transition: .3s;
}

#ask2_hover {
  display: none;
  position: absolute;
  width: 100%;
  height: 300px;
  left: 0;
  top: 0;
  background-color: #000000b5;
  transition: .3s;
}

#ask3_hover {
  display: none;
  position: absolute;
  width: 100%;
  height: 300px;
  left: 0;
  top: 50%;
  background-color: #000000b5;
  transition: .3s;
}

.ask_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

.ask_content h3 {
  letter-spacing: 3px;
}

.ask_content h4 {
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  border-bottom: 1px solid white;
  width: 70%;
  padding-bottom: 3px;
  margin: auto;
}

.ask_content p {
  font-size: 1em;
}

.ask_content :nth-last-child(1) {
  border-radius: 5px;
  border: 1px solid white;
  display: inline-block;
  padding: 0 10px;
}

.ask_block_mb {
  display: none;
  padding-bottom: 36px;
}

.ask_block_mb a {
  display: block;
  position: relative;
}

.ask_block_mb a i {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: red;
}

.ask_block_mb p {
  text-align: left !important;
}

.ask_block_mb p:nth-child(1) {
  font-size: 1.1em;
}

.ask_block_mb p:nth-last-child(1) {
  border-bottom: 1px solid white;
}

.ask_block_mb #ask1_mb {
  background-image: url(../img/per1.png);
  height: 300px;
  width: 100%;
  background-size: cover;
}

.ask_block_mb #ask2_mb {
  background-image: url(../img/per2.png);
  height: 300px;
  width: 100%;
  background-size: cover;
}

.ask_block_mb #ask3_mb {
  background-image: url(../img/per3.png);
  height: 300px;
  width: 100%;
  background-size: cover;
}

@media screen and (max-width:768px) {
  .ask_block {
    display: none;
  }
  .ask_block_mb {
    display: block;
  }
}

.ask_box {
  position: relative;
}

.yt_box {
  line-height: 30px;
  margin: auto;
}

.yt_box a {
  transition: .5s;
  color: white;
  cursor: pointer;
  transition: .5s;
  padding: 10px;
}

.yt_box div:hover {
  color: red;
}

.yt_box a:hover {
  color: red;
}

.fa-youtube {
  color: white;
}

/* clock */

::-webkit-selection {
  background: rgba(149, 165, 166, 0.8);
  color: #fff;
}

::-moz-selection {
  background: rgba(149, 165, 166, 0.8);
  color: #fff;
}

::-o-selection {
  background: rgba(149, 165, 166, 0.8);
  color: #fff;
}

::selection {
  background: rgba(149, 165, 166, 0.8);
  color: #fff;
}

#clock {
  position: relative;
  margin: 50px auto;
  width: 21.875rem;
  height: 21.875rem;
  border: 10px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  transition: .3s;
}

#clock::after {
  content: '';
  position: absolute;
  top: 9.5rem;
  left: 9.9rem;
  width: 1.25rem;
  height: 1.25rem;
  z-index: 15;
  background: #185B6B;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

@media screen and (max-width:400px) {
  #clock {
    width: 14.875rem;
    height: 14.875rem;
  }
  #clock::after {
    top: 6.5rem;
    left: 6.3rem;
  }
}

.arrow {
  position: absolute;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.minutes {
  width: .5rem;
  height: 6.25rem;
  top: 3.8rem;
  left: 10.35rem;
  background: #EBB044;
  z-index: 12;
  -moz-border-radius: .4rem;
  -webkit-border-radius: .4rem;
  -o-border-radius: .4rem;
  border-radius: .4rem;
}

.seconds {
  width: .1875rem;
  height: 6.25rem;
  top: 3.9rem;
  left: 10.4rem;
  background: #e74c3c;
  z-index: 13;
  -moz-border-radius: .6rem;
  -webkit-border-radius: .6rem;
  -o-border-radius: .6rem;
  border-radius: .6rem;
}

.hours {
  width: .5rem;
  height: 4.375rem;
  top: 5.7rem;
  left: 10.3rem;
  background: #185B6B;
  z-index: 14;
  -moz-border-radius: .6rem;
  -webkit-border-radius: .6rem;
  -o-border-radius: .6rem;
  border-radius: .6rem;
}

.clock-digits {
  list-style-type: none;
}

.clock-digits li {
  /*digits*/
  position: absolute;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  -webkit-font-smoothing: antialiased;
  /*position of digits*/
}

.clock-digits li:first-child {
  top: 0;
  left: 43.513513513513513513513513513514%;
}

.clock-digits li:nth-child(2) {
  top: 40.513513513513513513513513513514%;
  right: 4%;
}

.clock-digits li:nth-child(3) {
  bottom: 0;
  left: 46.756756756756756756756756756757%;
}

.clock-digits li:last-child {
  left: 4%;
  top: 40.513513513513513513513513513514%;
}

/* clock end */

.clockstyle {
  color: #FBB03B;
  font-size: 1.1em;
}

.sleeper {
  position: absolute;
  top: 0
}

.sleeper img {
  width: 300px;
  transition: 0.5s;
}

@media screen and (max-width:400px) {
  .sleeper img {
    width: 70%;
  }
  .hours {
    top: 2.7rem;
    left: 6.66rem;
  }
  .minutes {
    top: 0.8rem;
    left: 6.7rem;
  }
  .seconds {
    top: 0.89rem;
    left: 6.79rem;
  }
}

.hightlight {
  background-color: #fbb03b;
  color: #101c22;
  padding: 1px 0;
  margin: 0 5px;
  white-space: nowrap;
}

.btn_result {
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 7px;
  box-shadow: 1px 2px 3px #795548;
  cursor: pointer;
  background: #00000000;
  color: white;
  transition: 0.5s;
}

.btn_result:hover {
  background: #EDA03A;
  color: #0A222D;
}

.btn_result:active {
  background: white;
  color: black;
}

/* sleepzz-game.style*/

sub {
  position: absolute;
  line-height: 1px;
  animation: zZ 2.5s infinite linear;
  color: #f4f4f4;
  top: 40%;
  left: 50%;
  z-index: 20;
}

sup {
  position: absolute;
  line-height: 1px;
  animation: zZz 4s infinite linear;
  color: #e4e4e4;
  top: 42%;
  left: 50%;
  z-index: 20;
}

@keyframes zZ {
  0% {
    opacity: 0;
    font-size: 1px;
  }
  50% {
    opacity: 1;
    font-size: 30px;
    padding-left: 30px;
  }
  100% {
    opacity: 0;
    font-size: 80px;
    padding-left: 40px;
  }
}

@keyframes zZz {
  0% {
    opacity: 0;
    font-size: 1px;
  }
  50% {
    opacity: 0;
    font-size: 1px;
  }
  75% {
    opacity: 1;
    font-size: 30px;
    padding-left: 20px;
  }
  100% {
    opacity: 0;
    font-size: 80px;
    padding-left: 40px;
  }
}

/* 數據 */

.chart_layout figure {
  width: 220px;
  transition: .2s;
  margin: auto;
}

@media screen and (max-width:1400px) {
  .chart_layout figure {
    width: 160px;
  }
}

@media screen and (max-width:1000px) {
  .chart_layout figure {
    width: 140px;
  }
}

@media screen and (max-width:768px) {
  .chart_layout {
    display: flex;
  }
  .chart_layout figure {
    width: 50%;
    padding: 10% !important;
  }
}

#section3 figure, #section4 figure, #section6 figure, #section7 figure, #section10 figure, #section15 figure {
  width: 900px;
  padding: 5% 0 0;
  margin: auto;
}

@media screen and (max-width:768px) {
  #section3 figure, #section4 figure, #section6 figure, #section7 figure, #section10 figure, #section15 figure {
    width: 100%;
  }
}

@media screen and (max-width:560px) {
  #section3 figure, #section15 figure {
    width: 100%;
  }
  .chart_ps {
    width: 50% !important;
  }
}

#section3 p, #section6 p {
  padding: 5% 0;
}

.section_mb {
  display: none;
  color: white;
  text-align: left;
  font-size: 1.3em !important;
  padding: 20px !important;
}

@media screen and (max-width:1024px) {
  .section_pc {
    display: none;
  }
  .section_mb {
    display: block;
    font-size: 1.3em;
    padding: 20px;
  }
}

.fig {
  line-height: 30px;
}

/* 道路交通條例修正 */

#section12 figure {
  width: 70%;
}

.roadlaw_mb {
  display: none;
}

@media screen and (min-width:1000px) {
  .list_img {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .cut_one figure {
    width: 40%;
    margin: auto;
  }
  /* adj */
  /* #section12 h2, #section13 h2 {
    width: 70%;
  } */
  #section12 figure {
    width: 100%;
  }
  .roadlaw_mb {
    display: block;
  }
  .roadlaw_pc {
    display: none;
  }
}

/* adj */

/* @media screen and (max-width: 400px) {
  #section12 h2, #section13 h2 {
    width: 100%;
    border: none;
  }
} */

.roadlaw {
  position: relative;
  padding: 5% 0;
}

.roadlaw .roadlaw_content {
  position: absolute;
  top: 10%;
  right: 0;
  width: 30%;
}

.roadlaw p {
  padding: 5% 0;
}

#hammer img {
  width: 300px;
}

.color_block {
  display: flex;
  margin: auto;
  width: 90%;
}

.color_block span {
  width: 70px;
  height: 7px;
  margin: 0 10px;
}

.color_b1 {
  background-color: #D37197;
}

.color_b2 {
  background-color: #3FA3BA;
}

.color_b3 {
  background-color: #9EBF64;
}

.color_b4 {
  background-color: #FBB03B;
}

.color_b5 {
  background-color: #9C5794;
}

/* 同車共責 */

.flex_layout img {
  width: 100%;
  padding: 5%;
}

.flex_layout h3 {
  font-size: 1.4em;
}

.flex_layout p {
  text-align: center;
  color: white;
}

.one-three {
  width: 30%;
  margin: auto;
}

.two-three {
  width: 70%;
  margin: auto;
}

.one-two {
  width: 50%;
  margin: auto;
}

.cut-one {
  width: 35%;
}

.cut-two {
  width: 65%;
}

#mobile-screen {
  display: none;
}

@media screen and (max-width: 768px) {
  .flex_layout .person img {
    width: 100%;
  }
  .flex_layout {
    display: block;
  }
  .one-three {
    width: 100%;
    margin: auto;
  }
  .two-three {
    width: 100%;
    margin: auto;
  }
  .cut_one, .cut_two {
    width: 100%;
  }
  .one-two {
    width: 100%;
    margin: auto;
  }
  #mobile-screen {
    display: block;
  }
  #full-screen {
    display: none;
  }
}

.clock_layout1 {
  position: relative;
}

.clock_layout2 {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: left;
}

.clock_layout1, .clock_layout2 {
  width: 50%;
}

.clock_layout2 form input {
  margin-bottom: 20px;
}

.clock_layout2 form label {
  color: white;
}

@media screen and (max-width:768px) {
  .clock_layout1, .clock_layout2 {
    width: 100%;
  }
}

/* 同車共責 */

.flex_layout .car_text {
  width: 25%;
  color: black;
  padding: 10px;
  background-color: #fbb03b;
  z-index: 1;
  border-radius: 18px;
  position: relative;
}

.flex_layout .car_img {
  width: 50%;
}

@media screen and (max-width:1024px) {
  .car_layout {
    display: block;
  }
  .flex_layout .car_text, .flex_layout .car_img {
    width: 100% !important;
  }
}

/* 同車共責圖表 */

.year_case {
  position: absolute;
  top: 60%;
  left: 40%;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5% 0;
}

.year_case h3 {
  color: #fbb03b;
  display: inline-flex;
  padding: 5px 0;
}

.year_case h4 {
  color: #fbb03b;
  font-size: 1.1em;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  line-height: 30px;
}

.year_case p {
  color: white;
  line-height: 30px;
  padding: 10px;
}

.year_case img {
  width: 50px;
  height: 50px;
}

.truck {
  position: absolute;
  left: 100%;
  width: 105px;
}

@media screen and (max-width:828px) {
  .year_case {
    width: 100%;
    position: relative;
    left: 0;
  }
}

@media screen and (max-width:768px) {
  .year_case h3 {
    width: auto;
    padding: 25px;
  }
}

@media screen and (max-width:450px) {
  .year_case h3, .year_case span {
    display: block;
    line-height: 30px;
  }
  .year_case img {
    width: 64px;
  }
}

/* 倒酒/休息 解答 */

@media screen and (min-width:768px) {
  #section8 .inner_layout {
    width: 100%;
    margin: auto;
  }
}

#section8 {
  padding: 3% 0 0 0;
}

#info_answer, #info_answer1 {
  display: none;
  z-index: 99;
  width: 50%;
  margin: auto;
  box-shadow: 3px 4px 8px black;
  background-color: #3f8bafed;
  border: 1px solid;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  padding: 10px;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
}

#info_answer1 {
  text-align: center;
}

.mobilescreen {
  display: none;
}

@media screen and (max-width: 768px) {
  .fullscreen {
    display: none;
  }
  .mobilescreen {
    display: block;
  }
  #info_answer, #info_answer1 {
    width: 80%;
  }
}

#answer {
  color: #fffe00;
  font-size: 1.4em;
}

/* 問題 */

#section7 {
  width: 100%;
  padding: 3% 0 0 0 !important;
}

.drunk {
  width: 100%;
}

.drunker img {
  padding: 0px;
}

/* adj */

/* 
@media screen and (max-width:768px) {
  #section7 p {
    padding: 10% 10% !important;
  }
} */

.flex_layout_noblock {
  display: flex;
}

.psman {
  background-color: #EDA03A;
  margin-bottom: 50px;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  z-index: 1;
  margin: 1%;
  padding: 10px;
  box-shadow: 1px 2px 0px #eda03a;
  transition: 3s !important;
}

.psman p {
  color: #0A222D !important;
  transition: .2s;
}

.area {
  position: relative;
}

.area1 {
  top: 0
}

.area1:before {
  content: "";
  border-style: solid;
  border-width: 2px 0 10px 310px;
  border-color: transparent transparent transparent #EDA03A;
  position: absolute;
  right: -300px;
  bottom: 25px;
}

.area2 {
  bottom: 0
}

.area2:before {
  content: "";
  border-style: solid;
  border-width: 1px 0 5px 180px;
  border-color: transparent transparent transparent #EDA03A;
  position: absolute;
  right: -160px;
  top: 0;
}

.area3 {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.area3:before {
  content: "";
  border-style: solid;
  border-width: 1px 280px 7px 0px;
  border-color: transparent #EDA03A transparent transparent;
  position: absolute;
  left: -220px;
  bottom: 90px;
  transform: rotate(36deg);
}

@media screen and (max-width:1820px) {
  .area1:before {
    border-width: 1px 0 5px 245px;
    right: -245px;
    bottom: 40px;
  }
  .area3:before {
    border-width: 1px 210px 7px 0px;
    left: -170px;
    bottom: 100px;
    transform: rotate(45deg);
  }
}

@media screen and (max-width:1670px) {
  .area1:before {
    border-width: 1px 0 5px 210px;
    right: -190px;
    bottom: 40px;
  }
  .area3:before {
    border-width: 1px 180px 7px 0px;
    left: -140px;
    bottom: 90px;
  }
}

@media screen and (max-width:1560px) {
  .area2:before {
    right: -55px;
  }
  .area3:before {
    border-width: 1px 140px 7px 0px;
    left: -100px;
    transform: rotate(55deg);
  }
}

@media screen and (max-width:1465px) {
  .area1:before {
    right: -120px;
  }
}

@media screen and (max-width:1395px) {
  .area1:before {
    right: -120px;
  }
  .area3:before {
    border-width: 1px 100px 7px 0px;
    left: -70px;
    transform: rotate(55deg);
  }
}

@media screen and (max-width:1300px) {
  .area1:before {
    right: -60px;
  }
  .area3:before {
    border-width: 1px 70px 7px 0px;
    left: -30px;
  }
}

@media screen and (max-width:1160px) {
  .area1:before, .area2:before, .area3:before {
    display: none;
  }
  .area1, .area2, .area3 {
    width: 300px;
  }
}

@media screen and (max-width:1080px) {
  .area1:before, .area2:before, .area3:before {
    display: none;
  }
  #section9 figure {
    width: 100%;
  }
}

@media screen and (max-width:500px) {
  .area1, .area2 {
    width: 250px;
    left: 0;
  }
  .area3 {
    right: 0;
    width: 250px;
  }
}

/* 倒酒 */

.pour {
  display: block;
  text-align: center;
}

.pour img {
  padding: 0 10px;
  width: 100px;
  cursor: pointer;
}

.pour img:nth-child(1) {
  transform: rotateY(180deg);
}

.pour img:nth-child(2) {
  transform: rotate(-45deg);
  margin-left: 40px;
  transition: .3s;
}

.pour img:nth-child(2):active {
  transform: rotate(-80deg);
}

@media screen and (max-width:768px) {
  .drunker {
    display: none;
  }
}

@media screen and (max-width:400px) {
  .drunker {
    display: none;
  }
  .pour img {
    width: 70px;
  }
  .pour img:nth-child(2) {
    margin-left: 20px;
  }
}

/* 隔夜酒駕 */

.color1, .color2, .color3, .color4 {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 20px 0;
  font-size: 1.1em;
}

.color1::before, .color2::before, .color3::before, .color4::before {
  content: "";
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.color1::before {
  background-color: #2E465F;
}

.color2::before {
  background-color: #8a97a5;
}

.color3::before {
  background-color: #EFA543;
}

.color4::before {
  background-color: #CC4040;
}

@media screen and (max-width:768px) {
  .color1::before, .color2::before, .color3::before, .color4::before {
    width: 30px;
    height: 30px;
  }
  .color1, .color2, .color3, .color4 {
    font-size: 0.6em;
    padding: 5px;
  }
}

@media screen and (max-width:500px) {
  #section10 figure {
    width: 100%;
  }
  .color1::before, .color2::before, .color3::before, .color4::before {
    width: 10px;
    height: 10px;
  }
}

/* 酒精鎖 */

.dashboard {
  position: relative
}

.dashboard img:nth-last-child(1) {
  position: absolute;
  width: 50%;
  top: 15%;
  left: 45%;
}

.drivecar {
  position: relative;
  overflow: hidden;
  height: 1300px;
}

.drivecar img {
  padding: 0;
}

.drivecar img:nth-last-child(1) {
  position: absolute;
  top: 0;
  right: 50px;
  width: 100px;
  animation-name: cardown;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes cardown {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

@media screen and (max-width:1640px) {
  .drivecar img:nth-last-child(1) {
    width: 90px
  }
}

@media screen and (max-width:1290px) {
  .drivecar img:nth-last-child(1) {
    width: 60px
  }
}

@media screen and (max-width:768px) {
  .drivecar {
    display: none;
  }
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.step_area {
  padding: 10px 0;
}

.step_icon figure {
  width: 100px;
  margin: auto;
}

.step_text {
  padding: 3% 0;
}

.step_line {
  margin: auto;
}

.dot1, .dot2 {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: auto;
  position: relative;
}

.dot {
  position: absolute;
  top: 25%;
  left: 25%;
  border: 5px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.dot:nth-child(1) {
  -moz-animation: grow 3s 0.5s infinite ease-out;
  -webkit-animation: grow 3s 0.5s infinite ease-out;
  animation: grow 3s 0.5s infinite ease-out;
}

.dot:nth-child(2) {
  -moz-animation: grow 3s 1s infinite ease-out;
  -webkit-animation: grow 3s 1s infinite ease-out;
  animation: grow 3s 1s infinite ease-out;
}

.dot:nth-child(3) {
  -moz-animation: grow 3s 1s infinite ease-out;
  -webkit-animation: grow 3s 1s infinite ease-out;
  animation: grow 3s 1s infinite ease-out;
}

@keyframes grow {
  100% {
    padding: 30px;
    border-color: white;
    margin: -30px 0 0 -30px;
    opacity: 0;
  }
}

.dotline {
  border-left: 1px solid white;
  height: 100px;
  margin-left: 50%;
}

@media screen and (max-width:768px) {
  .step_icon {
    margin: auto;
  }
  .step {
    width: 100%;
  }
}

/* 酒精鎖地圖 */

.situation {
  padding: 3% 0;
  justify-content: space-around;
}

.situation button {
  width: 30%;
  border-radius: 5px;
  box-shadow: 6px 7px 2px black;
  color: white;
  transition: .3s;
  cursor: pointer;
  height: 50px;
}

.situation button:hover {
  transform: scale(1.1)
}

.situation #set1 {
  background-color: #FFCA05;
  border: 1px solid #FFCA05;
}

.situation #set2 {
  background-color: #FBB03B;
  border: 1px solid #FBB03B;
}

.situation #set3 {
  background-color: #CC4040;
  border: 1px solid #CC4040;
}

@media screen and (max-width:500px) {
  .situation button {
    width: 100% !important;
    margin: 10px 0;
  }
}

#lock {
  cursor: pointer;
  transition: .3s;
}

/* 酒精翻牌 */

.card_flex {
  padding: 20px 0;
}

.card {
  background-color: #EBB044;
  height: 500px;
  width: 300px;
  border-radius: 10px;
  position: relative;
  display: flex;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
  margin: auto;
  margin-bottom: 40px;
}

.card:hover {
  transform: scale(1.1);
}

.card .card_bg {
  background-color: #FFE1B6;
  border: 3px solid;
  border-radius: 10px;
  margin: auto;
  display: flex;
  height: 90%;
  width: 85%;
}

.card .card_bg .back {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
  position: absolute;
  width: 83%;
}

.card .card_bg .card_cont {
  display: block;
  margin: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .card_bg .card_cont h3 {
  color: #0a222d;
}

.card .card_bg .card_cont img {
  padding: 0;
}

.card .card_bg .card_cont figcaption {
  font-size: 1.1em;
  margin-top: 20px;
  color: #0A222D;
  padding: 0 10px;
}

.card .card_bg .card_cont small {
  line-height: 60px;
  color: #0a222d;
}

.card.flipped {
  -webkit-transform: translateX( -100%) rotateY( -180deg);
  -moz-transform: translateX( -100%) rotateY( -180deg);
  -o-transform: translateX( -100%) rotateY( -180deg);
  transform: translateX( -100%) rotateY( -180deg);
}

@media screen and (max-width:500px) {
  .card {
    width: 90%;
    height: 520px;
  }
}

.card figure small {
  border: 1px solid #797979;
  border-radius: 10px;
  padding: 5px;
}

/* 拒測 */

#section21 figure img {
  width: 100px;
}

.punish {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

@media screen and (max-width:1024px) {
  #section21 figure img {
    width: 100%;
  }
}

/* footer */

.footer {
  width: 100%;
}

.footer figure {
  text-align: right;
}

.footer_logo {
  width: 54px;
  display: block;
  margin: auto;
}
